.para{position:absolute !important;white-space:pre;transform-origin:0 100%;-ms-transform-origin:0 100%;-webkit-transform-origin:0 100%;unicode-bidi:bidi-override;-moz-font-feature-settings:"liga" 0}
.para:after{content:''}
.para span{position:relative;display:inline-block;unicode-bidi:bidi-override}